.preformimg {
    background-image: url('../../images/pref.jpg');
    background-position: center;
    height: 450px;
    width: 100%;
    min-width: 250px;
    max-width: 700px;
    background-size: cover;
    border-radius: 5px;
}

.bootimg {
    background-image: url(https://static.wixstatic.com/media/eed6b4_a1f12fddf8b34164b8117d97fb8e0d3d~mv2_d_4160_3120_s_4_2.jpg/v1/fill/w_1306,h_880,al_c,q_85,usm_0.66_1.00_0.01/eed6b4_a1f12fddf8b34164b8117d97fb8e0d3d~mv2_d_4160_3120_s_4_2.webp);
    background-position: center;
    height: 450px;
    width: 100%;
    min-width: 250px;
    max-width: 700px;
    background-size: cover;
    border-radius: 5px;
}

.personalimg {
    background-image: url(https://static.wixstatic.com/media/eed6b4_bb356a1a319e4c02bf607f69205a9b17~mv2_d_3789_2672_s_4_2.jpg/v1/fill/w_1306,h_898,al_c,q_85,usm_0.66_1.00_0.01/eed6b4_bb356a1a319e4c02bf607f69205a9b17~mv2_d_3789_2672_s_4_2.webp);
    background-position: center;
    height: 450px;
    width: 100%;
    min-width: 250px;
    max-width: 700px;
    background-size: cover;
    border-radius: 5px;
}

.classflip {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.class {
    display: flex;
    justify-content:center;
}

.containercolor {
    background-color: rgba(0, 0, 0, .30);
}

.classinfo {
    text-align: left;
    max-width: 450px;
    padding: 20px;
}

.classinfoflip {
    text-align: right;
    max-width: 450px;
    padding: 20px;
}

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {

    .class, .classflip {
        display: block;
        margin-top: 15px
    }

    .classinfoflip {
        text-align: left;
    }
}