.footbanner {
    max-width: 300px;
}

.footlogo img {
    max-width: 125px;
    margin: 0px;
}

.fsocialmedia {
    margin: 20px;
}

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {

    .fsocialmedia {
        display: none;
    }
}
