.contentservices {
    display: inline;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

/*Choose Program icons and text*/
.small {
    max-width: 270px;
    text-align: center;
    display: inline-block;
    padding: 1em 0 4em 0;
    width: 50%;
    border-right: 1px solid rgba(69,71,72,0.7);
}

    .small:last-child {
        border-right: none;
    }

    .small img {
        height: 128px;
        width: 128px;
        max-width: 270px;
        margin: 10px;
        padding: 10px;
    }


    .small p {
        font-size: 15px;
    }


    @media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {

        .contentservices {
            display: block;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .small {
            width: auto;
            border-right:none;
            display: block;
            margin: auto;
        }
    }