ul li a {
    text-decoration: none;
    list-style-type: none;
}

.headercontain {
    width: 100%;
    background-color: #202122;
    color: #ffffff;
}

.headercontent {
    width: 70%;
    margin: 0 auto;
}

.headerwrap {
    display: flex;
    justify-content: space-evenly;
    height: 12.5em;
}

.navlogo img {
    max-width: 250px;
}

.info {
    margin: auto;
}

.contactus{
    text-align: right;
}
    .contactus span{
        color: #ff6a00;
    }

.headerinfo {
        margin: auto;
}
    .headerinfo span {
            color: #ff6a00;
    }

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
    .headercontain {
        position: fixed;
        justify-content: flex-start;
        z-index: 10;
        height: 100px;
    }


        .headercontent {
            width:100%;
        }
    
        .headerwrap {
            justify-content: end;
            padding: 2px;
            margin: 2px;
            height:auto;
        }

        .navlogo img {
            width: 100px;
        }
    
        .info {
            display: none;
        }

        .headerinfo {
            margin: 0;
            font-size: 10px;
            max-width: 141px;
        }
        .mobilehide {
            display: none;;
        }
}