.HLText {
    margin-top: 20px;
    padding: 20px;
    min-height: 250px;
    text-align: center;
}

    .HLText h1 {
        font-size: 55px;
        margin: 0px;
        display: inline-block;
    }

    .HLText p {
        font-size: 20px;
    }

    .HLText span {
        color: #ff6a00;
    }

    @media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
        
        .HLText {
            margin-top: auto;
        }
        
        .HLText h1 {
            font-size: 35px;
        }

        .HLText p {
            font-size: 16px;
        }
    }