.navpage {
    box-sizing: border-box;
    justify-content: space-evenly;
    bottom: -33px;
    position: relative;
    width: 100%;
    display: table !important;
    position: relative;
    z-index: 90000;
}

    .navpage ul {
        width: 100%;
        display: table-row;
    }

    .navpage li {
        vertical-align: -webkit-baseline-middle;
        position: relative;
        z-index: 20;
        display: table-cell;
        text-align: center;
        border-right: 1px solid #000000;
    }
         li:last-child {
            border-right: none;
        }

    .navpage ul > li:nth-child(1) > a {
        border-radius: 5px 0 0 5px;
    }

    .navpage ul > li:nth-last-child(1) > a {
        border-radius: 0 5px 5px 0;
    }

    .navpage a {
        background-color: #4a4a4a;
        font-variant-caps: small-caps;
        font-size: 18px;
        color: #ffffff;
        display: block;
        padding: 1.40em 1em 1.40em;
        font-weight: 700;
        letter-spacing: 1px;
    }

        .navpage a:hover {
            color: #ffffff;
            background-color: #ff6a00;
        }

.navpagelogo img {
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
    
    .navpage {
        display: none;
    }

        .navlogo img {
            max-width: 120px;
        }

}