.bannertext h1 {
    font-size: 100px;
    margin: 0px;
    color: #ff6a00;
}

.beforeH, .afterH {
    font-size: 40px;
    color: #ffffff;
    margin: 0px;
    font-variant: small-caps;
}

.bannertext {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }

.beforeH:first-of-type {     
    animation: slideinR 3s;
}  

.head:first-of-type {
    animation: showup 3s;
}

.afterH:last-of-type  {
    animation: slideinL 3s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:.5;}
    80% {opacity:.8;}
    100% {opacity:1;}
}

@keyframes slideinR {
    0% { margin-right:-900px; }
    20% { margin-right:-900px; }
    35% { margin-right:0px; }
    100% { margin-right:0px; }
}

@keyframes slideinL {
    0% { margin-left:-900px; }
    20% { margin-left:-900px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
    .beforeH,.afterH {
        font-size: 24px;
    }
}