.bannertext h1 {
    font-size: 100px;
    margin: 0px;
}

.beforeH, .afterH {
    font-size: 25px;
    color: #d3d3d3;
    margin: 0px;
}

.bannertext {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }

.beforeH:first-of-type {     
    animation: slideinR 10s;
}  

.head:first-of-type {
    animation: showup 10s;
}

.afterH:last-of-type  {
    animation: slideinL 10s;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:.5;}
    80% {opacity:.8;}
    100% {opacity:1;}
}

@keyframes slideinR {
    0% { margin-right:-900px; }
    20% { margin-right:-900px; }
    35% { margin-right:0px; }
    100% { margin-right:0px; }
}

@keyframes slideinL {
    0% { margin-left:-900px; }
    20% { margin-left:-900px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
    .beforeH,.afterH {
        font-size: 16px;
    }
}