.bannercontainer {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    /*background: url(../images/Sample12.jpg);*/
    background-size: cover;
    width: 100%;
    min-height: 450px;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}

.bannercontent {
    margin: 0 auto;
    z-index: 1;
    max-width: 75%;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.bannercontentinfo {
    max-width: 75%;
    margin: auto;
    padding-top: 90px;
}

@media only screen and (max-width: 1255px), (min-device-width: 515px) and (max-device-width: 768px) {

    .bannercontent, .bannercontentinfo {
        max-width: 100%;
    }

    .bannercontentinfo {
        margin-top: 20px;
    }

        .bannercontentinfo h1 {
            font-size: 80px;
        }
}

@media only screen and (max-width: 515px), (min-device-width: 320px) and (max-device-width: 425px) {
    
    .bannercontainer {
        min-height: 350px;
        background-size: cover;
        background-position: bottom;
    }

    .bannercontent, .bannercontentinfo {
        max-width: 100%;
    }

    .bannercontentinfo {
        margin-top: 35px;
    }

        .bannercontentinfo h1 {
            font-size: 56px;
        }

}


